*{
    padding: 0;
    margin: 0;

}

body{
    background-color: black;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box;

}

h1{
    font-weight: bold;
}

.titulo-destaque{
    color: #22D4FD;
    border: 1px solid #22D4FD;
}
.titulo-blog{
    color: #e7ffff;
}

.texto-destaque{
    color: #14b8b8;

}
.urgente{
    color: red;
}

.presentacion{
    display: flex;
    align-items: center;
}

.pudu { width: 500px; height: 300px; }